/*.menu{
    background-color: #e9a063;
    font-style: italic;
}


.heading1{
	text-align: center;
}


.homeInfo{
	margin-left: 10%;
}

.ui-slider .ui-slider-handle, .ui-slider .ui-slider-range{
	background-color: #e9a063;
}*/