/*.menu{
    background-color: #e9a063;
    font-style: italic;
}


.heading1{
	text-align: center;
}


.homeInfo{
	margin-left: 10%;
}

.ui-slider .ui-slider-handle, .ui-slider .ui-slider-range{
	background-color: #e9a063;
}
*/

.menu {
	 text-align:center;
}

.name {
	width: 10%;
}

.detail {
	width: 90%;
	padding-left: 25px;
}

.detail td {
	font-size: 24px;
}